body {
  font-family: 'Oswald', sans-serif;
  background-color: white;
}

#container {
  width: 1000px;
  height: 550px;
  background-image: url(https://images.unsplash.com/photo-1516641051054-9df6a1aad654?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
  margin: 50px auto;
  border-radius: 10px;
}

#calculator {
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  margin: 0 auto;/*center calculator-container horizontally*/
  position: relative;
  top: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2)
}

#result {
  height: 120px;
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}

#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}

#keyboard {
  height: 400px;
}

.operator, .number, .empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

.number, .empty {
  background-color: #eaedef;
}

.number, .operator {
  cursor: pointer;
}

.operator:active, .number:active {
  font-size: 17px;
}

.operator:focus, .number:focus, .empty:focus {
  outline: 0;
}

button:nth-child(4) { /* selects the fourth child of the button class */
  font-size: 20px;
  background-color: deeppink;
}

button:nth-child(8) {
  font-size: 20px;
  background-color: yellow;
}

button:nth-child(12) {
  font-size: 20px;
  background-color: orangered;
}

button:nth-child(16) {
  font-size: 20px;
  background-color: salmon;
}

button:nth-child(20) {
  font-size: 20px;
  background-color: darkorange;
}
