body {
  /*define font and background on the whole page*/
  font-family: 'Oswald', sans-serif;
  background-color: white;
}

/*container (lego) that contains the calculator as an extra container */
#container {
  width: 1000px;
  height: 550px;
  /*lego background image*/
  background-image: url(https://images.unsplash.com/photo-1516641051054-9df6a1aad654?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
  /*top and bottom spacing is set to 50px, left and right ist auto, so it's centered horizontally*/
  margin: 50px auto;
  border-radius: 10px;
}

/*container of calculator*/
#calculator {
  width: 320px;
  height: 525px;
  background-color: #eaedef;
  margin: 0 auto; /*centers calculator-container horizontally*/
  position: relative;
  top: 15px; /*adds space on the top (only works with position relative) */
  border-radius: 5px;
  box-shadow: 0 /*x offset*/ 4px /*y offset*/ 8px /*blur*/ 0 /*spread*/ rgba(0,0,0,0.2) /*color*/, 0 6px 20px 0 rgba(0,0,0,0.2)
}

#result {
  height: 120px;
  /*maybe highlight the result window with white*/
/*margin: 5px;
  border-radius: 5px;
  background-color: white;*/
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px; /*no margin on top and bottom, but 20px on each side*/
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}

#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px; /*10px margin on top and bottom and 20px on each side*/
  font-size: 30px; /*bigger font to make it stand out*/
}

#keyboard {
  height: 400px;
}

.operator, .number, .empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

.number, .empty { /*if number is empty take same backgroundcolor as calculator container*/
  background-color: #eaedef;
}

.number, .operator {
  cursor: pointer;
}

.operator:active, .number:active {
  font-size: 17px;
}

.operator:focus, .number:focus, .empty:focus {
  outline: 0;
}

button:nth-child(4) { /* selects the fourth child of the button class */
  font-size: 20px;
  background-color: deeppink;
}

button:nth-child(8) {
  font-size: 20px;
  background-color: yellow;
}

button:nth-child(12) {
  font-size: 20px;
  background-color: orangered;
}

button:nth-child(16) {
  font-size: 20px;
  background-color: salmon;
}

button:nth-child(20) {
  font-size: 20px;
  background-color: darkorange;
}
